app-incomes{
    width: 40%;
    margin-top: 20px;
}

app-expenses{
    width: 40%;
    margin-top: 20px;
}

.container{
    display: flex;
    justify-content: center;
}

.title{
    text-align: center;
}

.balance{
    width: 20%;
    margin: auto;
    background-color: rgb(171, 164, 97);
}

.green{
    background-color: rgba(57, 140, 130, 0.546);
}

.red{
    background-color: rgba(140, 57, 116, 0.546);
}