<mat-card class="container">

<h2>Incomes</h2>
<p>
    <mat-label>Income name </mat-label>
    <input matInput [(ngModel)]="incomeName" type="text">
</p>
    <mat-label>Income value </mat-label>
    <input matInput [(ngModel)]="incomeValue" type="number">

    <button mat-flat-button color="primary" (click)="confirm()" [disabled]="!isValid()">Confirm</button>
    <mat-divider></mat-divider>

    <h3>Your incomes</h3>
<ul>
    <li *ngFor="let income of incomes">{{income.incomeName}} - {{income.incomeValue | number:'1.2'}}</li>
</ul>
</mat-card>